{% extends 'bases/base_user_es.html' %}
{% block content %} 

<div>
    <div class="card">
        <div class="card-header">
            {% with messages = get_flashed_messages()  %}
            {% if messages %}
            {% for message in messages %}
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                <strong>{{ message }}</strong>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
              </div>
            {% endfor %}
            {% endif %}
            {% endwith %}
            <center>
                <h1>PRODUCTOS</h1>
            </center>
        </div>

        <div class="card-body">
            <div class="row g-10">
                {% for c in productos %}   
                    <div class="col-sm-4">
                        <div class="card mb-3">
                            <img src="{{ c.2 }}" class="img-thumbnail" alt="..." style="height:300px; width:auto;">
                            <div class="card-body">
                                <h5 class="card-title">{{ c.1 }}</h5>
                                <p class="card-text">Precio : {{ c.3 }}</p>
                                <p class="card-text">Stock : {{ c.4 }}</p>
                            </div>
                            <div class="card-footer">
                                <form class="form-horizontal" method="POST" action="/es/usuario/store/{{ c.0 }}/">
                                    <input type = "hidden" name = "csrf_token" value = "{{ csrf_token() }}" />
                                    <div class="form-group">
                                        <div class="col-sm-2">
                                            <input name="cantidad" type="text" class="form-control" placeholder=0 autocomplete="off"
                                                required>
                                        </div> 
                                        <div class="col-sm-2">
                                            <input type="submit" name="save" class="btn btn-info pull-right" value="Añadir al carro" />
                                        </div>   
                                    </div>                                      
                                </form>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>

    </div>
</div>
{% endblock %}